@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);

}
a{
    font-size: 1.1rem;
}


.text_div{
    text-align: center;
    width: 100%;
    background-color: rgb(75, 40, 139);
    color: white;
    padding-bottom: 1px;
  

}
.Positive{
    
    color: red;
}
.Negative{
    color: rgb(83, 214, 22);
}

.main_text{
    font-size: 1.3rem;
}

.main_div{
    width: 25%;
    margin: 1.5rem auto;
 
}

.sub_class{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: .5rem auto;
}

.input{
    width: 100%;
    margin-top: 6px;
    background-color: white;
     border: 1px rgb(93, 69, 201) solid;
    padding: .4rem;
    border-radius: 6px;
}



.input:focus {
    outline: none !important;
    border-color: #5435a8;
    box-shadow: 0 0 10px #6d67be;

}


.button_div {
    text-align: center;
}

.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    overflow: hidden;
    justify-content: space-between;
    
}

.splash {
      position: absolute;
      top: 0%;
      right: 0%;
      height: 100%;
      z-index: -1;
}


.intro_text{
    margin-top: 10%;
     flex: 1 1 30rem;

}

.svgs {
    flex: 1 1 40rem;
}
.intro_main_text{
    font-size: 1.2rem;
}

svg{
    height: 100%;
    width: 100%;
}

#heart{
    animation: myanimation 2s infinite;
}


.about_main{
    
    width: 90%;
    margin:  5rem auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   

}



.img_about_img{
    margin-top: 30px;
    width: 350px;
    border-radius: 8px;
   
}

.about{
    width: 400px;
    text-align: center;
    background-color: rgba(75, 40, 139, 0.938);
    box-shadow: 5px 10px 18px #525252;
    margin: 1rem;
    border-radius: 8px;
    

}

.text_about{
    color: white;
    font-size: 1.2rem;
    padding: .5rem;
    
}

a{
    text-decoration: none !important;
}

.about:hover{
     background-color: rgba(59, 15, 141, 0.623);
     border-radius: 8px;
    
}


.about1_main{
    width: 60%;
    margin: 2rem auto;
  

}

.ins_main{
    width: 60%;
    margin: 2rem auto;
}
.main_about{
     width: 60%;
    margin: 2rem auto;
  
}

h2{
    margin: 1rem 0rem;
}

@keyframes myanimation {
    0%{
        fill: #F4233C;
    }
    50%{
        fill: #c9081e;
    }
}


@media screen and (max-width: 1240px) {
    .svgs {
        margin-top: 2rem;
    }
}


@media screen and (max-width: 1146px) {
    .splash {
        display: none;
    }
    body{
        background-color: lavender !important;
    }
    .svgs {
        margin-top: 4rem;
    }
    .intro_main_text {
        width: 85%;
        margin-left: 6%;
        margin-bottom: 1rem;
    }

}
@media screen and (max-width: 1070px) {
.main_div {
    width: 40%;
    margin: 1.5rem auto;

}
}

@media screen and (max-width: 732px) {

   .input {
       padding: .1rem;
       
   }
   .main_text {
       font-size: 1.1rem;
   }
   a {
       font-size: 1rem;
   }
}


@media screen and (max-width: 550px) {

    .main_div {
        width: 60%;
        margin: 1.5rem auto;

    }
    label {
        font-size: .8rem;
    }
    .main_text {
        font-size: 1rem;
    }
    .intro_main_text {

        font-size: 1rem;
    }

    .about_main{
    
    width: 80%;
    margin:  2rem auto;
}



.img_about_img{
    margin-top: 20px;
    width: 250px;
    border-radius: 8px;
   
}

.about{
    width: 300px;
    margin: 1rem;
    

}

.text_about{
    font-size: 1rem;
    padding: .5rem;
    
}

.about1_main{
    width: 85%;
    margin: 1rem auto;
  

}
.ins_main{
    width: 95%;
    margin: 1rem auto;
}
.main_about{
    width: 90%;
    margin: 1rem auto;
}

}


